<div class="row">
  <div class="col-md-3">
    <form name="searchForm" role="form" ng-submit="ctrl.search()">
      <div class="form-group" ng-class="{ 'has-error': searchForm.productTitle.$invalid }">
        <label for="productTitle">Product title:</label>
        <input type="text"
               id="productTitle" name="productTitle"
               placeholder="Title" class="form-control"
               ng-model="ctrl.searchFormData.title"
               ng-minlength="3">
        <p class="help-block" ng-if="searchForm.productTitle.$invalid">Should be 3 or more symbols</p>
      </div>
      <div class="form-group" ng-class="{ 'has-error': searchForm.productPrice.$invalid }">
        <label for="productPrice">Product price:</label>
        <input type="number"
               id="productPrice" name="productPrice"
               placeholder="Price" class="form-control"
               min="0" step="any"
               ng-model="ctrl.searchFormData.price">
        <p class="help-block" ng-if="searchForm.productPrice.$invalid">Should be a number like 23.99</p>
      </div>
      <div class="form-group">
        <label for="prodcutCategory">Product category:</label>
        <select id="prodcutCategory" class="form-control"
                ng-model="ctrl.searchFormData.category"
                ng-options="category as category for category in ctrl.categories">
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="searchForm.$invalid">Search</button>
      </div>
    </form>
  </div>

  <div class="col-md-9">
    <div class="row carousel-holder">
      <div class="col-md-12">
        <app-carousel></app-carousel>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="p in ctrl.products">
        <div class="thumbnail">
          <img src="images/320x150.gif" alt="">
          <div class="caption">
            <h4 class="pull-right">{{ p.price | currency }}</h4>
            <h4><a ng-href="#/products/{{ p.id }}">{{ p.title }}</a></h4>
            <p>{{ p.description }}</p>
          </div>
          <div class="ratings">
            <p>
              <app-star-rating count="5" average="p.avgRating | number:1" show-average="true"></app-star-rating>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
